.logo {
  width: auto;
  height: auto;
  padding: 0 14px;
}

.header {
  background: #227F89;
  color: white;
}

.icons {
  margin-left: 10px;
}

.button {
  color: #227F89;
  border-radius: 2px;
}

.span-logo {
  flex: 1 1 auto;
}

.user-icon {
  width: 40px;
  height: 40px;
  padding: 0 14px;
  border-radius: 50%;
}

.mat-grid-list {
  padding-bottom: 0 !important;
}